help-general

  h2 Help

  .well

    h3(style='margin-top: 0')
      | Docs

    a(href="{ opts.config.docs_link }")
      | more...

    h3 Basics

    p.
      The PostgreSQL operator will use your definition to create a new
      PostgreSQL cluster for you. You can either copy the yaml definition
      to the repositiory or you can just hit create cluster.
