backoff==2.2.1
boto3==1.34.110
boto==2.49.0
click==8.1.7
Flask==3.0.3
furl==2.1.3
gevent==24.2.1
jq==1.7.0
json_delta>=2.0.2
kubernetes==11.0.0
python-json-logger==2.0.7
requests==2.32.2
stups-tokens>=1.1.19
wal_e==1.1.1
werkzeug==3.0.6
