Flask-OAuthlib==0.9.5
Flask==1.1.2
backoff==1.10.0
boto3==1.16.52
boto==2.49.0
click==7.1.2
furl==2.1.0
gevent==20.12.1
jq==1.1.1
json_delta>=2.0
kubernetes==3.0.0
requests==2.25.1
stups-tokens>=1.1.19
wal_e==1.1.1
werkzeug==0.16.1
